* {
  box-sizing: border-box;
}

.wrapper-calculator {
  border: solid red 1px;
  width: 500px;
  margin: 0 auto;
  margin-top: 50px;
}

.text-result {
  height: 40px;
  margin-top: 20px;
  overflow: hidden;
  font-size: 30px;
}

.wrapper-btn {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  border: solid yellow 1px;
}

.wrapper-btn__item {
  width: 165px;
  height: 50px;
  border: solid green 1px;
  padding-top: 15px;
}

/* .wrapper-btn__item-line {
  margin-top: 10px;
} */

.wrapper-result {
  border: solid red 5px;
  display: flex;
  background: #ded9d9;
}

.clean-input {
  cursor: pointer;
  text-align: center;
  padding: 10px;
  margin-right: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  width: 50px;
  background: #bfbaba;

}

.clean-input:hover {
  background: #7f7f7f;
}

.clean-input:active {
  transition: 0.2s;
  background: red;
}