* {
  box-sizing: border-box;
}

.wrapper-calculator {
  border: solid red 1px;
  width:500px;
  margin: 0 auto;
  margin-top: 50px;
}

.text-result {
  border: solid blue 1px;
  height:50px;
  margin-bottom: 30px;
}

.wrapper-btn {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  border: solid yellow 1px;
}

.wrapper-btn__item {
  width:165px;
  height:50px;
  border: solid green 1px;
  padding-top: 15px;
}

.wrapper-btn__item-line {
  margin-top: 10px;
  /* border-top: 3px red solid; */
}