body {
  margin: 0;
  padding: 0;
}
/* Шапка сайта  левый блок */
.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width:100%;
 background: #ffffff;
}
.header__list {
  display: flex;
  list-style-type: none;
  margin-left:-40px;
}
.header__contact {
  display: flex;
 margin: auto 0;
}
.header__item--link {
  text-decoration: none;
}
.header__item--active a {
  text-decoration: none;
}
.header__item--logo {
color: #3c3d42;
font-size: 30px;
margin-right: 30px;
}
.header__item a {
  margin-right: 30px;
  font-size: 14px;
  color: #56575b;
}
.header__item {
  margin:auto 0;
}
.header__item a:hover {
 font-size: 20px;
  color: #32706f;
}
.header__item a:active {
  color: #029b9d;
}

/* Шапка сайта правый блок */
.header-item__icon {
  margin:auto 0;
  margin-right: 8px;
  color: #3d3e43;
  font-size: 18px;
}
.header-item__tel {
  margin: auto 0;
  margin-right: 30px;
  margin-bottom: 5px;
  color: #56575b;
  font-size: 18px;
}

.header-item__email {
  margin:auto 0;
  margin-bottom: 5px;
  color: #56575b;
  font-size: 18px;
}
.header-item__email:hover,
.header-item__tel:hover {
  color: #7c9b9a;
}
.header-item__email:active, .header-item__tel:active {
color:#0c6566;
}
.header__contact a {
  text-decoration: none;
}


/* cекция основная часть  */
 .section-perfectApp {
   width:100%;
   height: 725px;
  background-image: url(glow.jpg);
 background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.section-perfectApp__header {
  font-size: 36px;
  font-weight: bold;
  color: #ffffff;
  margin:0;
  margin-top: -100px;
}
.section-perfectApp__header2{
  color:#ffffff;
  font-weight: lighter;
  font-size: 36px;
  margin: 0;
}
.section-perfectApp__text{
color: #9dc7d1;
font-size: 14px;
margin-top: 40px;
margin-bottom: 40px;
width:400px;
}
.section-perfectApp__button {
  width:235px;
  height: 55px;
  border: solid 3px #93b2b5;
  border-radius: 50px;
  outline: none;
 background-color: transparent;
 color: #ffffff;
 font-size: 21px;
}
.section-perfectApp__button:hover {
background: #7c9b9a;
}
.section-perfectApp__button:active{
  background:#0c6566;
}

/* cекция heading feature */
.heading-feature {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading-feature__heading {
font-size: 36px;
color: #636c6c;
}
.heading-feature__text {
margin: 0;
  color: #bac1c1;
  font-size: 16px;
}

/* сайдбар scroll и image case */
.scroll-bar {
  width:20%;
  height:350px;
  display: flex;
  flex-direction: column;
  
  overflow-y: scroll;
  
}
.scroll-bar__item {
 display: flex;
 margin-bottom: 70px;
 margin-left: 15px;
 margin-right: 15px;

}
.scroll-block__icon {
  text-align: center;
margin-right: 25px;
}

.scroll-block__icon-door {
margin-right: 35px;
margin-left: 15px;

}
.scroll-block--image {
  margin-bottom: -30px;
}

.scroll-block__link {
  margin: auto 0;
  color: #9fa9a9;
  font-size: 20px;
  text-decoration: none;
}
.scroll-block__link:hover {
  color:#cbcece;
}





.sectioon-scroll-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.scroll-bar__right-part {
  display: flex;
  flex-direction: column;
  width:600px;
  margin-top: 100px;
}
.scroll-bar {
  margin-top: 100px;
  
}
.TwoPink {
background: pink;
}
/* .d2 {
background: red;
} */
.OneBlue {
  background: blue;
}
.ThreeGreen{
  background: green;
}
.ForYellow {
  background: yellow;
  
}
.right-part__block {
  display: none;
}


.scroll-bar::-webkit-scrollbar-track {
	-webkit-box-shadow:  rgba(0, 0, 0, 0.3);
  background-color: rgb(171, 201, 3);
 

}
.scroll-bar::-webkit-scrollbar {
  width: 5px;
  
  
  background-color:green;
}
.scroll-bar::-webkit-scrollbar-thumb {
  background-color:#1d6861;
  height: 15px;

}

.right-part__image {
  margin-left: 100px;
}

.right-part__block--head {
  font-size: 24px;
  font-weight: bold;
  color: #636c6c;
}

.right-part__block-text {
  color:#bfc6c6;
  font-size: 16px;
  font-weight:lighter ;
  margin: 0;
}

.onec-ultries {
  /* width: 100%; */
  margin-top: 100px;
  background: #f2f9fe;
  height: 815px;
  display: flex;
flex-wrap: wrap;
 justify-content: space-around;
}
.onec-ultries__left {
width: 30%;
margin: auto 0;
}
.onec-ultries__right {

display: flex;
justify-content: center;
align-items: center;
  
}

.onec-ultries__left--head {
color: #5dca88;
font-size: 36px;
font-weight: bold;
position: relative;


}
.onec-ultries__left--line{
  display: block;
border-bottom: #949c9c solid 2px;
width: 130px;

margin-top: -24px;
margin-left: 0px;
margin-bottom: 30px;
}
.onec-ultries__left--secondHead {
font-size: 36px;
font-weight:lighter ;
color: #9aa1a2;

}

.onec-ultries__left--text {
font-size: 16px;
font-weight:lighter;
color: #9aa1a2;

}
.onec-ultries__left--button {
  margin-top: 40px;
  border: solid #aab2b5 2px;
  color: #636c6c;
  outline: none;
  font-size: 21px;
  font-weight: bold;
  border-radius: 40px 40px 40px 40px ;
  background: none;
  width:250px;
  height: 55px;
}
.onec-ultries__left--button:hover {
  background: #18b6b6;
  color: white;
}
.onec-ultries__left--button:active {
background: #046969;
}




/* CЛАЙДЕР */
.slider {
  max-width: 100%;
  position: relative;
  margin: auto;

  margin-bottom: 15px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;

}
.item {
 
}
.slider .item img {
  object-fit: cover;
  height: 450px;
  border: none !important;
  box-shadow: none !important;
  margin-right: 45px;
 
  

}
.slider .prev {
  cursor: pointer;
  position: absolute;
  top:0;
  top:50%;
  right: 86%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
.slider .prev:hover,
.slider .next:hover {
  background: rgb(16, 182, 182);
}

.slider .next {
  right: 0;
  cursor: pointer;
  position: absolute;
  top:0;
  top:50%;
  right: 10%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
 
  border-radius: 3px 0 0 3px;
}

.slider-dots {
  text-align: center;
}
.slider-dots_item {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 2px;
  background: #ddd;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;

}
.active, .slider-dots_item:hover {
  background-color: #aaa;
}

.slider .item {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-direction: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}


.slider-heading {
 display: flex;
 justify-content: center;
 flex-direction: column;
 text-align: center;
 margin-top: 100px;
 font-size: 36px;
 color: #636c6c;
}
.slider__text {
  width: 600px;
  margin: auto;
  margin-bottom: 50px;
  font-size: 16px;
  color: #bac1c1;
  
}
.form-information--section {
  padding-bottom: 40px;
}
.form-information {
  
 margin-top: 80px;
 
  background: #f3f5f5;

}
.form-information__header {
display: flex;
 justify-content: center;
}
.form-information__header--image {
  width:40px;
  height: 30px;
  margin: auto 10px;
}
.form-information__header--text {
  font-size: 36px;
  font-weight: bold;
  color: #8c9494;
}
.form-information__button {

 text-align: center;
}
.form-information--date {
  width: 500px;
  height: 40px;
  outline: none;
  border-radius: 15px 15px 15px 15px;
  border: #bbc3c2 solid 2px;
  margin-bottom: 30px;
}
.form-information--btn {
  margin-left: -40px;
   height: 46px;
   width: 150px;
   border: none;
   border-radius: 15px;
   background:#5dca88;
}






.icons {
  background: #2d312f;

  
}
.icons__head {
text-align: center;
color: #8c9494;
font-size: 24px;
font-weight: 300;
margin-left: 20px;
margin-top: 0;
padding-top: 30px;
}
.icons-set {
  text-align: center;
}
.icons__item {
  display: inline-block;
flex-direction: row;
  border-radius: 50%;
  background: #5d6461;
  
 /* width:30px;
  height: 30px; */
}
.icons__item--image {
    width: 15px;
    height: 10px;
    padding: 8px;
}
.icons__list {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  margin: 0;
}
.icons__list--item {
margin-right: 10px;
text-decoration: none;
font-size: 16px;
list-style-type: none;
color: #8c9494;
font-size: 16px;
font-weight: 300;
}