.header-contacts {
  max-width: 1170px;
  display: flex;
  margin: 0 auto;
  padding-top: 65px;
  /* flex-wrap: wrap; */

}

.header {
  height: 850px;
  background: url(../img/header.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-position: center;
}

.header__left {
  width: 570px;
  border: solid red 1px;
  display: flex;
}

.header__right {
  width: 600px;
  border: solid red 1px;
  display: flex;
}

.header-logo__image {
  margin-right: 40px;
/* прописать адаптивную картинку width 100% height сток как то так */
}

.header-logo__text {
      margin-top: 10px;
  text-align: center;
  font-size: 18px;
  width:245px;
  line-height: 1;
  font-size: 18px;
  font-family: 'Open Sans',sans-serif;
  font-weight: 400;
  color: rgb(255, 255, 255);
}


.header-telefone {
  display: flex;
}

.header-telefone__icon-telefone {
  margin-top:  13px;
/* font-size: 20px; */
height: 30px;
margin-right: 15px;
margin-left: -20px;
}
.header-telefone__number {
  margin-top: 8px;
  font-size: 24px;
  font-weight: 400;
  color: rgb(255, 255, 255);
}
.header-email {
  display: flex;
  font-size: 18px;
  color: rgb(254, 254, 254);
   line-height: 0.778;
}
.header-email__icon-email {
  margin-top: 16px;
  height: 20px;
}

