.nike-air { padding-top: 100px; padding-left: 100px; padding-bottom: 100px; display: flex; position: relative; }

.nike-air__image { width: auto; height: 450px; border: solid 7px #ffffff; box-shadow: 0 0 5px #000000; }

.nike-air__image:hover { box-shadow: 0 0 15px #000000; }

.nike-air__header { right: auto; left: auto; top: 40%; position: absolute; margin-left: -50px; font-size: 45px; font-family: 'Cormorant Garamond', sans-serif; font-weight: 500; color: #242323; }

.nike-air__right { align-self: flex-end; padding-bottom: 10%; }

.nike-air__text { position: absolute; right: auto; left: auto; top: 50%; margin-left: -50px; font-size: 20px; color: #888888; font-family: 'Ubuntu', sans-serif; font-weight: 500; }

.nike-air__right { margin-left: 21%; margin-bottom: -5%; position: relative; }

.nike-air__border { height: 63px; width: 208px; position: absolute; top: -30px; left: -10px; border: solid 2px #82f4d3; z-index: -1; }

.nike-air__link { height: 40px; width: 140px; background: #82f4d3; padding: 20px 60px; font-family: 'Cormorant Garamond', sans-serif; font-weight: 500; font-size: 20px; color: #000000; }

.nike-air__link:hover { background: #57caaa; box-shadow: 0 0 5px #000000; }
