/* * {
  box-sizing: border-box;
} */
.container {
text-align: center;
}

.item{
margin: 0 auto;
margin-top: 20px;
padding-top: 10px;
text-align: center;
border: #00FFFF solid 2px;
background: #E0FFFF;
height: 30px;
width:150px;
border-radius: 5px;
}