<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="main.css")
    script(src="js/main.js")
    title Сборка галп ;
           

    
    //- путь указывать напрямую, если папка, то /
  body
    
    h3 ress
    include vse/s.pug
    
    
//-      есть файл main.pug
//- и например _component.pug

//- просто импортируешь _component.pug в main.pug
 
//- это должен делать сам pug а не gulp
 
//- конкатенацию файлов