$primiry-green:#82f4d3;
$green-hover:#57caaa;
$green-active:#3b8872;

@mixin ubuntuMedium {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
}

@mixin cormorantMedium {
  font-family: 'Cormorant Garamond', sans-serif;
  font-weight: 500;
}

@mixin cormorantBold {
  font-family: 'Cormorant Garamond',
    sans-serif;
  font-weight: 700;
}


.latest-blog {
margin-top: 70px;

}
.latest-blog__header {
  text-align: center;
  @include cormorantMedium;
  font-size: 45px;
}
.blog-elements {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  padding-top: 70px;
 
}
// .blog-elements__left {
 
// }
.blog-elements__border-one {
   border-radius: 5px;
  width:300px;
  height: 300px;
  opacity: 0.9;
  margin-top: 30px;
  border:solid $green-hover 3px;
  position: absolute;
  z-index: -1;
      left: 0.5%;
      top: 40%;
}
.blog-elements__border-two {
  position: absolute;
  z-index: -1;
  width:300px;
  height: 300px;
  opacity: 0.9;
  margin-top: 30px;
  border:solid $green-active 3px;
  border-radius: 5px;
  left: 20%;
}
.blog-elements__left img {
  
   position: absolute;
   width: auto;
   // height: 50%;
   height: 350px;
  //  left: 0;
  //  right: 0;
  //  opacity: 0;
   animation-name: fades;
   animation-duration: 9s;
   animation-iteration-count: infinite;
   border-radius: 5px;
   top:30%;
   left: 3%;
}


@keyframes fades {
  0% {
    opacity: 0;
  }

  11.11% {
    opacity: 1;
  }

  33.33% {
    opacity: 1;
  }

  44.44% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}



.blog-elements__left img:nth-child(1) {
  animation-delay: 0s;
}

.blog-elements__left img:nth-child(2) {
  animation-delay: 3s;
}

.blog-elements__left img:nth-child(3) {
  animation-delay: 6s;
}


.blog-elements__right {
  width: 30%;
  margin-left: 10%;
  
 
}

.blog-text__header {
  @include ubuntuMedium;
  padding-bottom: 20px;
  padding-top: 10px;
  text-align: center;
}
.blog-text__text {
   color: #707070;
   @include ubuntuMedium;
   text-align: center;
}