
// @import "mixin.scss";
// @import "vars.scss";

@import "header.scss";
@import "nike-air.scss";
@import "PopularArrivals";
@import "PreFallCollection";
@import "WeThought";
@import "LatestBlog";
@import "footer";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}